*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #0c0e12;
}

header{
    background: linear-gradient(137deg,rgba(112, 71, 30, 1) 0%, rgba(75, 53, 32, 1) 0%, rgba(54, 43, 33, 1) 27%, rgba(43, 42, 41, 1) 57%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    border-bottom: 1px solid #4f4d4d;
}

.title{
    background-color: transparent;
    width: 100%;
    max-width: 350px;
    height: 80px;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.title ion-icon{
    color: #f3d500;
}

h1{
    font-size: 48px;
    color: #fff;
}

h1 span{
    color: #bc781e;
}

.title-secondary{
    width: 530px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #807f7f;
    margin-top: 20px;
}

.search-box{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 630px;
    height: 45px;
    gap: 10px;
}

 .searchs{
    position: relative;
    width: 520px;
    height: 45px;
    display: flex;
    align-items: center;
}

.searchs input{
    background-color: #0c0e12;
    width: 100%;
    height: 100%;
    padding: 12px 60px;
    border-radius: 10px;
    border: 1px solid #4f4d4d;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    /* position: relative; */
    z-index: 1; 
}

.searchs input:focus{
    border: 2px solid #f3d500;
    outline: none;
    transition: all 0.3s ease-in;
}



.searchs ion-icon{
    position: absolute;
    left: 26px;
    color: #4f4d4d;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
}

.buscar{
    width: 115px;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: #bc781e;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease ;
}

.buscar:focus{
    transform: translateZ(40px) scale(0.9);
}

.buscar.active{
    background-color: #bc781e;
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
}

.alert{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #807f7f;
    margin-top: 20px;
    display: none;
}

main{
    min-height: 700px;
    background-color: #0c0e12;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #4f4d4d;
    overflow: hidden;
}

.cont-inicial{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont-inicial.hidden{
    display: none;
}




.logo{
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: #21242c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo ion-icon{
    font-size: 40px;
    color: #f3d500;
}

h2{
    color: #fff;
    margin-bottom: 0;
}

.texto-principal{
    width: 450px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #807f7f;
    margin-top: 20px;
    margin-bottom: 0;
    
}

footer{
    background-color: #0c0e12;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-footer{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #807f7f;
}

.cont-result{
    width: 100%;
    min-height: 700px;
    background-color: #0c0e12;
    margin: 0;
    padding: 0;
}

.cont-result.hidden{
    display: none;
}

.num-result{
    margin: 40px 60px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #807f7f;
}


.filmes{
    min-height: 700px;
    width: 100%;
    /* background-color: #21242c; */
    padding: 0 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.filme img{
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.filme{
    position: relative;
    background-color: #21232a;
    margin-top: 30px;
    height: 530px;
    width: 310px;
    border-radius: 12px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.info-film{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.info-year{
    display: flex;
    gap: 5px;
    width: 150px;
    color: #807f7f;
    font-family: "Inter", sans-serif;
    font-weight: 300;   
    font-size: 14px;
}

.filme:hover{
    box-shadow: 0px 0px 20px 2px rgba(188, 146, 30, 0.2);
    transform: translateZ(40px) scale(1.05);
}

.type{
    position: absolute;
    background-color: #bc781e;
    width: 62px;
    /* padding: 0px 5px; */
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    margin: 10px 15px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.carregar{
    width: 150px;
    height: 50px;
    background-color: #bc781e;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: grid;
    align-items: center;
    grid-column: 1 / -1;   /* ocupa todas as colunas */
    justify-self: center;
    transition: all 0.5s ease;
}

.carregar:hover{
    transform: translateZ(40px) scale(1.05);
}

.carregar:focus{
    transform: translateZ(40px) scale(0.9);
}